.scale-style{
        position: absolute;
         z-index: 10000;
        background: #E7BD69;
        width: 500px;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
      }

#pxReader {
    color: red;
    width: 1.2px;/* sometimes with width 1px scale marker is hidden */
    height: 80px;
    background: red;
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    line-height: 150px;
    font-weight: bold;
    font-size: 20px;
}
.pixel-pxReader-hide {
    display: none;
}
.pixel-pxReader-show {
    display: inline-block;
}
.action-icons {
    border: 1px solid #000;
    border-radius: 1px;
}
